@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base{
  :root{
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #dad9d9;
  }
  ::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor:n-resize;
  }

  @font-face {
    font-family: yekan;
    src: url("/public/font/yekan/Yekan-Bakh-FaNum-07-Heavy.woff");
    font-weight: 400;
  }
  @font-face {
    font-family: yekan;
    src: url("/public/font/yekan/Yekan-Bakh-FaNum-07-Heavy.woff");
    font-weight: 700;
  }
  @font-face {
    font-family: shabnam;
    src: url("/public/font/shabnam/Shabnam-FD.woff");
    font-weight: 400;
  }
  @font-face {
    font-family: shabnam;
    src: url("/public/font/shabnam/Shabnam-Medium-FD.woff");
    font-weight: 500;
  }
  @font-face {
    font-family: shabnam;
    src: url("/public/font/shabnam/Shabnam-Bold-FD.woff");
    font-weight: 700;
  }


  #app{
    direction: rtl;
  }
}

@layer utilities{
  .mobile-menu-item__input:checked ~ .mobile-menu-item__dropdown{
    @apply 
      block
      opacity-100
    ;
      
  }
}